<div class="container-fluid ">
  <div class="row">
    <div class=" col-lg-4 col-md-6 col-sm-8 col-12 m-auto">
      <!---------------------------------------------Heading  --------------------------------------------------------->
      <h3 class="rainbow-text  text-center mt-5 mb-5 display-1" style=" font-weight: 500;">Keep Notes</h3>

      <!------------------------------------------------form------------------------------------------------------------>
      <div class="border-primary shadow m-auto p-auto bounce-in-top">
         <form [formGroup]="signIn" (ngSubmit)="onSubmit()" class="p-5">
           <!------------------------------------------------email-------------------------------------------------------->
                 <div class="form-floating mb-3">
            <input type="email" class="form-control border border-dark" id="email" placeholder="Email" formControlName="email">
            <label for="email"><span class="bi bi-envelope-fill mx-2"></span>Email address</label>
          </div>
          <div *ngIf="submitted || getControls().email.touched && getControls().email.invalid">
            <p *ngIf="getControls().email.errors?.required" class="text-warning fw-bold">Please enter Your email</p>
          </div>

          <!-------------------------------------------------password------------------------------------------------------>
          <div class="form-floating">
            <input type="password" class="form-control border-dark" id="password" placeholder="Password"  formControlName="password">
            <label for="password"><span class="bi bi-key-fill mx-2"></span>Password</label>
          </div>
          <div *ngIf="submitted || getControls().password.touched && getControls().password.invalid">
            <p *ngIf="getControls().password.errors?.required" class="text-warning fw-bold">Please enter Your Password
            </p>
          </div>

          <!------------------------------------------------sign in button-------------------------------------------------->
          <div class=" text-center">
            <button class="btn mt-3 px-4">Sign in</button>
          </div>
         </form>
      </div>

         <!--------------------------------------------------sign up button------------------------------------------------------>
      <div class="mt-5" style="margin-left: 100px;">
        <h5>Don't have an Account?
          <a routerLink="" (click)="gotoSignUp()" class="text-warning text-decoration-none px-2"> SignUp Now</a>
        </h5>
      </div>

    </div>
  </div>
</div>

<router-outlet> </router-outlet>