@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,700&display=swap');


.navBarContainer{
  position:sticky;
    width: 100%;
    height: 100px;
  }
  
   h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
  }
  .name {
    font-family: 'Cormorant Garamond', serif;
  }
  .home {
    font-family: 'Cormorant Garamond', serif;
  
  } 
  /* nav bar styles*/
  .navbar{
    background-color: #1F618D;
  }
    
    .navbar-brand a {
      font-family: "Work Sans", sans-serif;
      font-weight: 1000px;
      font-size: 5em;
      width: 5em;
      line-height: 0.9em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5em;
      margin-top: calc(50vh - 1em);
    }
  
    /* side bar styles*/
  .sidebar {
    background-color:#46494b;
    padding-top: 10px;
    position:relative;
    left: 0;
    width: 250px;
    height:850px;
    transition: 0.5s;
    transition-property: left;
  }
  .sidebar a,p{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: "background";
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  /* sidebar icon*/
  .bi{
    font-size: 30px;
    margin:10px
  } 
    
    /* Style the rainbow text element. */
    .rainbow-text {
      /* Create a conic gradient. */
      /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
      background: #CA4246;
      background-color: #CA4246;
        background: conic-gradient(
          #e05e07 16.666%, 
          #ee8904 16.666%, 
          #bbcf08 33.333%, 
          #cae004 33.333%, 
          #ece2ea 50%, 
          #afdd08 50%, 
          #f1f0ef 66.666%, 
          #04f104 66.666%, 
          #e1e431 83.333%, 
          #cf05b4 83.333%);
      
      /* Set thee background size and repeat properties. */
      background-size: 57%;
      background-repeat: repeat;
      
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      background-clip: text;
      -webkit-text-fill-color: transparent; 
      
      /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-animation-rev 0.5s ease forwards;
    cursor:pointer;
    }
    
    /* Add animation on hover. */
    .rainbow-text:hover {
      animation: rainbow-text-animation 0.5s ease forwards;
    }
    
    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-animation {
      0% {
        background-size: 57%;
        background-position: 0 0;
      }
      20% {
        background-size: 57%;
        background-position: 0 1em;
      }
      100% {
        background-size: 300%;
        background-position: -9em 1em;
      }
    }
    
    /* Move the background and make it smaller. */
    /* Animation shown when entering the page and after the hover animation. */
    @keyframes rainbow-text-animation-rev {
      0% {
        background-size: 300%;
        background-position: -9em 1em;
      }
      20% {
        background-size: 57%;
        background-position: 0 1em;
      }
      100% {
        background-size: 57%;
        background-position: 0 0;
      }
    }

  