<!--------------------------navbar------------------------>
<div class="containerNav" style="z-index: 2;">
    <app-navbar></app-navbar>
  </div>
  
  <span class="name  fs-5 text-end  d-md-none d-block ">Welcome, {{username}}</span>

  <div class="container mt-5" style="z-index: 1;">
    <!-------------------------- heading ------------------------>
    <h3 *ngIf="archiveHeading==true" class="text-primary text-center display-4 tracking-in-contract">Archive Notes appear here</h3>
    <div class="row  mt-3">
      <!-------------------------card---------------------------->
      <div class="card-group">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 m-auto pb-5" *ngFor="let archive of archivedata; let ind=index">
          <div class="card  shadow" style="width: 18rem;">
            <div class="card-body ">
              <h4 class="card-title text-center  fs-3" style="font-family: 'Courgette', cursive;">{{archive.title}}</h4>
              <p class="card-text text-center fs-5" style="font-family: 'Courgette', cursive;">{{archive.description}}</p>
            </div>
            <!------------------------checklist---------------------------->
            <div *ngFor="let check of archive.checkList; let ind=index" class="px-3 fs-5"  style="font-family: 'Courgette', cursive;">
              <div class="form-check">
                <input class="form-check-input" type="checkbox"  id="checkbox" name="check" ngModel value="check" (click)="removeCheckList(check,archive.title)">
                <label class="form-check-label" for="checkbox">{{check}}</label>
              </div>
            </div>
            <!----------------------------checkedlist----------------------->
            <div *ngIf="archive.checkedList.length">
              <hr>
              <h5 style="font-family: 'Courgette', cursive;" >Checked list</h5>
              <div *ngFor="let checked of archive.checkedList; let ind=index"  class="px-3  fs-5" style="font-family: 'Courgette', cursive;">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"  id="checked"  name="checked" ngModel value="checked"  (click)="removeCheckedList(checked,archive.title)" checked>
                  <label class="form-check-label" for="checked"><del> {{checked}}</del></label>
                </div>
               </div>
             </div>
             <!----------------------------unarchive icon----------------->
            <div class="icons p-3 text-center">
                <a type="submit" class="mt-2 bi bi-arrow-up-square-fill fs-5 text-secondary" title="UnArchive" (click)="undo(archive,ind)"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------if archives empty------------------>
    <div *ngIf="emptyArchives==true">
      <p class="display-5 text-center text-secondary mt-5 p-5">Your Archives is empty</p>
    </div>
  </div>