<div class="container1" style="z-index: 2;">
  <app-navbar></app-navbar>
</div>

<div class="container mt-5" style="z-index: 1;">
  <h3 *ngIf="trashHeading==true" class="text-primary text-center display-4 tracking-in-contract">Trash Notes appear here</h3>
  <div class="row mt-3">
    <div class="card-group">
      <div class="col-md-3 m-auto pb-5" *ngFor="let trash of trashData; let ind=index">
        <div class="card  shadow" style="width: 18rem;">
          <div class="card-body ">
            <h4 class="card-title text-center" style="font-family: 'Courgette', cursive;">{{trash.title}}</h4>
            <p class="card-text text-center fs-5" style="font-family: 'Courgette', cursive;">{{trash.description}}</p>
            <div *ngFor="let check of trash.checkList; let ind=index" class="px-3 fs-5" style="font-family: 'Courgette', cursive;">
              <input type="checkbox" > {{check}}
            </div>
          </div>
          <div class="icons p-3 text-center d-flex justify-content-around">
            <button type="button" class=" btn btn-primary mt-2 " title="Restore" (click)="restoreNote(trash)">Restore</button>
            <button type="button" class=" btn btn-danger mt-2 " title="Permanent delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>

            <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Do you want to delete the note permanently?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="permanentDelete(trash)">Yes</button>
      </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="emptyTrash==true">
    <p class="display-5 text-center text-secondary mt-5 p-5">Your Trash is empty</p>
  </div>
</div>