<div class="container">
    <app-navbar> </app-navbar>
</div>
  
  <div class="container">
    <div class="row mt-3">
      <div class="card-group">
        <div class="col-md-3 m-auto pb-5" *ngFor="let trash of trashData; let ind=index">
          <div class="card  shadow" style="width: 18rem;">
            <div class="card-body ">
              <h4 class="card-title text-center text-secondary">{{trash.title}}</h4>
              <p class="card-text text-center ">{{trash.description}}</p>
            </div>
            <div class="icons p-3 text-center d-flex justify-content-between">
              <button type="button" class=" btn btn-primary mt-2 " title="Restore"
                (click)="restoreNote(trash)">Restore</button>
              <button type="button" class=" btn btn-danger mt-2 " title="Permanent delete" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Delete</button>
  
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel"> Do you want to delete the note permanently?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="permanentDelete(trash)">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

