<div class="containerNav" style="z-index: 2;">
  <app-navbar></app-navbar>
</div>

<div class="container mt-5" style="z-index: 1;">
  <h3 *ngIf="favouriteHeading==true" class="text-primary text-center display-4 tracking-in-contract">Favourite Notes appear here</h3>
  <div class="row mt-3">
    <div class="card-group">
      <div class="col-md-3 m-auto pb-5" *ngFor="let favourite of favouritesData; let ind=index">
        <div class="card  shadow" style="width: 18rem;">
          <div class="card-body ">
            <h4 class="card-title text-center" style="font-family: 'Courgette', cursive;">{{favourite.title}}</h4>
            <p class="card-text text-center fs-5" style="font-family: 'Courgette', cursive;">{{favourite.description}}</p>
            <div *ngFor="let check of favourite.checkList; let ind=index" class="px-3 fs-5"  style="font-family: 'Courgette', cursive;">
              <input type="checkbox" name="check" ngModel value="check" (click)="checked(check,favourite.title)"> {{check}}
            </div>
            
            <div *ngIf="favourite.checkedList.length">
              <hr>
              <h5 style="font-family: 'Courgette', cursive;">Checked list</h5>
              <div *ngFor="let checked of favourite.checkedList; let ind=index"  class="px-3  fs-5" style="font-family: 'Courgette', cursive;">
                <input type="checkbox" name="checked" ngModel value="checked"  (click)="uncheck(checked,favourite.title)" ><del> {{checked}}</del>
               </div>
             </div>

          </div>
          <div class="icons p-3 text-center">
            <a class=" mt-2 bi bi-suit-heart fs-5 text-danger" title="Remove from Favourites" (click)="remFavNote(favourite,ind)"></a>
          </div>

        </div>

      </div>
    </div>
    <div *ngIf="emptyFavourites==true">
      <p class="display-5 text-center text-secondary mt-5 p-5">Your favourites is empty</p>
    </div>
  </div>