.containerNav{
  position:fixed;
}

.container{
 
  width: 100%;
  height: 500px;
  padding-top: 200px;
 
}
/* styles for card hover */
.icons a{
  display: none;
}
.card:hover .card-body {
 transform: scale(1.2);
}
.card:hover .icons a {
  display: inline-block;
 
}
.card:hover{
  background-color: rgb(228, 240, 228);
}